<!-- initialize the tab value in the current scope !-->
<!-- ng-init="tab = 1" is moved to PanelController !-->
<section ng-controller="PanelController as panel">
    <ul class="nav nav-pills">
        <!-- ng-class allow us to set a proper class when a condizion is true !-->
        <li ng-class="{ active: panel.isSelected(1) }">
            <!-- Using the directive ng-click we can assing a tab to out link !-->
            <a href="#description" ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active: panel.isSelected(2) }">
            <a href="#specifications" ng-click="panel.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active: panel.isSelected(3) }">
            <a href="#reviews" ng-click="panel.selectTab(3)">Reviews</a>
        </li>
    </ul>
    <div class="panel" ng-show="panel.isSelected(1)">
        <h4>Description</h4>
        <blockquote>{{ product.description }}</blockquote>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
        <h4>Specifications</h4>
        <p> {{ product.description }}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
        <h4>Reviews</h4>
        <blockquote ng-repeat="review in product.reviews">
            <strong>{{ review.stars }}</strong>
            {{ review.body }}
            <footer><cite>{{ review.author }}</cite></footer>
        </blockquote>
        <div class="panel">
            <!-- We need a form to store new reviews, now we try to use standard AngularJS aliasing for controller !-->
            <!-- ng-submit act like onsubmit="" old and fancy javascript function... !-->
            <!-- novalidate tells to the browser to turn off the default HTML5 Validation system !-->
            <form role="form" name="newReview" id="newReview" ng-controller="ReviewController as reviewCtrl" ng-submit="newReview.$valid && reviewCtrl.addReview(product)" novalidate>
                <!-- This will work as preview for the brand new review.
                        NOTE: we're using the same directive "review" used before !-->
                <blockquote>
                    <strong>{{ reviewCtrl.review.stars }}</strong>
                    {{ reviewCtrl.review.body }}
                    <footer><cite>{{ reviewCtrl.review.author }}</cite></footer>
                </blockquote>
                <div class="form-group">
                    <!-- To make the like preview we need to BIND the directive to our inputs, to do so simply using ng-model="directive-name" !-->
                    <select name="stars" id="stars" class="form-control" ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" required>
                        <option disabled selected>Select a Star</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="body" id="body" class="form-control" ng-model="reviewCtrl.review.body" placeholder="Your review text" required></textarea>
                </div>
                <div class="form-group">
                    <label>By:</label>
                    <input type="email" name="author" id="author" class="form-control" ng-model="reviewCtrl.review.author" placeholder="Your E-mail" required/>
                </div>
                <!-- With this div we can debug our form !-->
                <!-- Valid is a boolean-built in attribute from AngularJS, there's some magic here lol !-->
                <div>newReview is {{ newReview.$valid }}</div>
                <button type="submit" class="btn btn-success">Review the product</button>
            </form>
            </div>
    </div>
</section>
